nav span{
    font-size: 72px;
    color: #FFF;
}
nav p{
    font-size: 32px;
    color: #FFF;
    padding-top: 100px;
}
.background-image{
    background-image: url('picture/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    text-align: center;
    margin: 50px 10px 100px 80px ;
    
}
.discount-content{
    text-align: center;
    color: #f00;
    font-size: 88px;
    font-family:   Helvetica Bold;

}
.discount-below{
    color: #f00;
    text-align: center;
    font-size: 24px;
    line-height: normal;
}
.below{
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
}
.image-1{
    align-items: center;
    margin: 0 380px;
}
.div-1{
    background-image: url('picture/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin:50px 10px 100px 80px;
}
.heading-div{
    color: #FFF;
    font-family: Merrweather;
    font-size: 60px;
    padding: 126px 150px 0  ;

}
.extension{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    padding-left: 150px;
}
.link-1{
    color: #FFF;
    font-size: 20px;
    padding-left: 200px;
    text-decoration: none;
}
main div{
    text-align: center;
}
 .span-1{
    color: #f00;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
}
main h4{
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
}
main button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    background-color: #f00;
    display: inline-flex;
}
main button a{
    text-decoration: none;
    color: #FFF;
}

div section h6{
    font-size: 22px;
}
div section p{
    color: #f00;
    font-style: Merriweather;
    font-size: 60px;
}
div section span{
    color: black;
}
.font{
    font-size: 15px;
}
.bonus-line{
    background-image: none;
    color: #f00;
}
.middle{
    /* margin-top: 20px; */
}
.section-1{
 
    position: absolute;
    width:70% ;
    margin: 100px 50px;
    display: grid;
    place-items: center;
}
.comming-soon{
    float: right;
    width: 30%;
    padding-left: 0%;
}


.box{
    box-sizing: border-box;
}
.images{
    float: left;
    width: ;
    padding: 5px;
    margin-left: 30px;
}
#pic{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    justify-content: space-between;
    display: flex;
}
.last{
   padding-top: 500px;
   text-align: left;
   padding-left: 20px;
}
.head-11{
    color: #f00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
}
.head-13{
    color: black;
    font-size: 48px;
    font-family: Merriweather;
}
.para-1{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}