nav span{
    font-size: 72px;
    color: #FFF;
}
nav p{
    font-size: 32px;
    color: #FFF;
    padding-top: 100px;
}
.background-image{
    background-image: url('picture/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    text-align: center;
    margin: 50px 10px 100px 80px ;
    
}
.discount-content{
    text-align: center;
    color: #f00;
    font-size: 88px;
    font-family:   Helvetica Bold;

}
.discount-below{
    color: #f00;
    text-align: center;
    font-size: 24px;
    line-height: normal;
}
.below{
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
}
.image-1{
    align-items: center;
    margin: 0 380px;
}
.div-1{
    display: flex;
    background-image: url('picture/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin:50px 10px 100px 80px;
    justify-content: space-between;
}
.heading-div{
    color: #FFF;
    font-family: Merrweather;
    font-size: 60px;
    padding: 126px 150px 0  ;

}
.extension{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    padding-left: 150px;
}
.link-1{
    color: #FFF;
    font-size: 20px;
    padding-left: 200px;
    text-decoration: none;
}
/* .external-pic{
    padding: 0 0px 900px 900px;
} */
main div{
    text-align: center;
}
 .span-1{
    color: #f00;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
}
main h4{
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
}
main button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    background-color: #f00;
    display: inline-flex;
}
main button a{
    text-decoration: none;
    color: #FFF;
}

.discount-banner{
    display: flex;
    justify-content: space-between;
    border-radius: 0px;
    margin-top: 120px;
    align-items: center;
}

.new-discount-offer{
    max-width: 392px;
}

.new-discount-offer h3{
    color: #f00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
}

.new-discount-offer h2{
    color: #070211;
    font-family: Merrweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.new-discount-offer p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.discount-banner figure {
    max-width: 463px;
    padding: 49px;
    border: 15px solid #f00;
    border-radius: 463px;
    margin-left: 70px;
    margin-right: 118px;
}

.discount-banner figure img {
    width: 100%;
    vertical-align: bottom;
}


.another-banner{
    max-width: 276px;
}

.another-banner h2{
    width: 100%;
    color: #f00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 110px;
}

.another-banner p {
    margin-top: 16px;
    width: 100%;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font: size 20px ;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}

.another-banner below-banner{
    max-width: 140px;
}


.another-banner below-banner{
    width: 100%;
}
div section h6{
    font-size: 22px;
}
div section p{
    color: #f00;
    font-style: Merriweather;
    font-size: 60px;
}
div section span{
    color: black;
}
.font{
    font-size: 15px;
}
.bonus-line{
    background-image: none;
    color: #f00;
}


.middle{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-content{
    max-width: 890px;
    text-align: center;
}


.middle-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.middle-tilte-below{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 28px;
}

.font{
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
}


.middle-banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url(picture/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom, right 3%;
    width: 100%;
}


.middle-banner img{
    position: relative;
    top: 81px;
    right: 22%;
}


.section-1{
 
    position: absolute;
    width:70% ;
    margin: 100px 50px;
    display: grid;
    place-items: center;
}
.comming-soon{
    float: right;
    width: 30%;
    padding-left: 0%;
}



.last{
   padding-top: 500px;
   text-align: left;
   padding-left: 20px;
}
.head-11{
    color: #f00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
}
.head-13{
    color: black;
    font-size: 48px;
    font-family: Merriweather;
}
.para-1{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}

.footer{
    margin-top: 120px;
    width: 100%;
}

.picture-heading{
    max-width: 896px;
}

.picture-heading .picture-heading-title{
    color: #foo;
    font-family:Inter;
    font-size: 24px;
    font-style:normal;
    font-weight:500;
    line-height:normal;
    margin-bottom:16px;
}


.picture-heading .picture-heading-another-title{
    color:#070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.picture-heading .picture-parag{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}


.portfolio{
    display: flex;
    flex-wrap: wrap-reverse;
    
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

 .portfolio-images img{
    vertical-align: bottom;
    width: 400px;
    height: 300px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
 .portfolio-images img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
 }

 .footer-below{
    background-color: rgb(20, 133, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    padding: 80px 0px;
    background: rgba(255, 0, 0, 0.05);

 }

 .footer-below .mail{
    max-width: 150px;
    margin-bottom: 40px;
 }


 .footer-below .mail img{
    width: 100%;
 }

.footer-below h2{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
    max-width: 512px;
}

.footer-below p{
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    max-width: 896px;
}

.email{
    display:flex ;
    max-width: 648px;
    margin-top: 48px;
}


#two{
    border: none;
    outline: none;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    background: #f00;
    padding: 24px 56px ;

}

#one{
    border: none;
    outline: none;
    border-radius: 50px 0px ;
    width: 438px;
    padding-left: 30px;
}

.email input #one ::placeholder{
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-foot{
    margin-top: 120px;
    background-color: #070211;
    max-width: 1600px;
    margin: 120px auto 0px auto;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 160px 275px 50px 140px;
}



.top p{
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    max-width: 375px;

}


.top .contact p{
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.contact-call{
    display: flex;
    align-items: center;
}

hr{
    max-width: 1320px;
    margin: o auto;
    width: 82.5%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 48px 0px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    width: 82.5%;
    padding-top: 50px;
    padding-bottom: 120px;
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.footer-bottom a{
    color: white;
    background-color: black;
}

.mid{
    background-color: #070211;
}